
<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk">
    <meta name="spm-id" content="$!{spm-id}" />
    <title>照片上传</title>
    $control.setTemplate("commonHeader.vm")
    #parse("/layout/global_vars.vm")
    <link rel="stylesheet" href="${uiServer}/apps/customize/photoprint/??common/common-min.css,upload/$assetsTimeStamp/page/upload-min.css" />
</head>
<body>
    $control.setTemplate("vmcommon/s/3.1/header.vm")  ## 吊顶
    $control.setTemplate("navigate.vm") ## 头，包括导航条。
<script>TB.Global.init();</script>
<div id="content">
    $screen_placeholder
</div>
    #include("/layout/footer.vm")
</body>
</html>